
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>配置</title>
<link href="/layout/main.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color:#f3f5f3">
	<TABLE>
	<TR>
		<TD colspan="2">如何使用群聊直播间？</TD>
	</TR>
	<TR>
		<TD width="50%">创建一个新的群聊直播间。其他人可以加入群聊。</TD>
		<TD width="50%">播放一个已存在的群聊间。</TD>
	</TR>
	<TR>
		
		<TD>
			房间名称：<input type="text" id="name" value=""/><br/>
					<input type="button" id="create" value="创建群聊直播间"><br/>
		</TD>
		<TD>房间号：<input type="text" id="url" value=""/><br/>
			<input type="button" id="play" value="立刻直播"></TD>
	</TR>
	<TR>
		
		<TD colspan="2">
			其他人如何参与群聊，只需2步：<br/>
		1、关注微信公众号：，账号：，二维码：<br/>
		2、输入@+群聊号，进入直播间，参与群聊，如：@10000<br/>
		
		如果要退出群聊天室，请输入#+群聊号，如：#10000<br/>
		</TD>
	</TR>
	</TABLE>
		<br/>
		<br/>
		
	
		
	

</body>
</html>
