
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>配置</title>
<link href="main.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color:#f3f5f3">
<div class="wrap">
	<div class="current-version">
        <div class="changelogs" style="width:48%;">
			<h2>直播一个已存在的群聊<span></span></h2>
				<ol>
					<li><label for="roompasswd">房间名称：</label><input type="text" id="roompasswd" value="" class="input"/></li>
					<li><label for="roomid">房间号：</label><input type="text" id="roomid" value="" class="input"/></li>
					<li><input type="button" id="play" value="立刻开始直播" class="button"></li>
				</ol>
        </div>
		<div class="changelogs" style="width:48%;">
			<h2>创建一个新的群聊<span></span></h2>
				<ol>
					<li><label for="roomname">房间名称：</label><input type="text" id="roomname" value="" class="input"/></li>
					<li><label for="createid">房间号：</label><input type="text" id="createid" value="" class="input"/></li>
					<li><input type="button" id="create" value="立刻创建（更新）群聊" class="button"></li>
				</ol>
        </div>
    </div>
	<div class="current-version">
        
    </div>
	<div class="current-version">
        <div class="changelogs" style="width:97%">
			<h2>其他人如何参与群聊？只需2步：<span></span></h2>
				<ol>
					<li>1、微信关注微信公众号：，账号：，二维码：</li>
					<li>2、微信输入@+群聊房间号，如：@10000</li>
					<li>3、开始群聊，如果要退出，请输入#+房间号，如：#10000</li>
				</ol>
        </div>
    </div>
</div>
</body>
</html>
