html {margin:0px;}
body {
	margin:0px;
}
img {border:0}
.body_back{background-color: #CC99FF #2eb4ff #2878be #2eb4ff;background-size:100%;}
.title{margin:5px auto;color:#fff;font-size:30px; font-weight:bold;text-align:center;width:100%;}
.chat_area{margin:10px;overflow:hidden}
.chat_one{padding:10px 0px 0px 10px;overflow:hidden; background:#FFF;border-radius:10px; color:#000; position:relative;margin: 0 0 20px 0;}
.personal_photo{height:70px;width:70px;border-radius:50%;float:left;padding:0;}
.show_content{margin:0px 0px 0px 80px;padding:0;font-size:24px;color:#000; vertical-align:top}
.nick_name{color:#000;padding:-15px 0 0 0; line-height:32px;}
.show_text{color:red;padding:-12px 0 0 0; line-height:32px;}
.show_text img{}
.show_time{position:absolute; top:6px; right:10px; font-size:18px;color:#999;}
