
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>更新日志_360手机助手_360安全中心</title>
<link rel="stylesheet" type="text/css" href="sjzs_web.css">
<style>body{background-color:#f3f5f3}</style>
</head>
<body>
<!-- nav -->


<div class="wrap">

    <!-- 当前版本 -->
    <div class="current-version">
        <!-- 变动2 -->
        <img src="http://p6.qhimg.com/d/inn/45fdc5ed/current-ver.jpg" width="462" height="270">
        <!-- 变动2 END -->
        <div class="changelogs">
           
<h2>安卓版V3.1.81beta<span>2014-11-25</span></h2>
<ol>
    <li>1．优化“好友在玩”“附近的人在玩”功能</li>
        <li>2．管理界面改版，使用更简单</li>
        <li>3．解决用户反馈，优化性能及界面细节</li>
    </ol>
        </div>
    </div>

    <!-- 版本历史 -->
    <div class="timeline">
        <ol>
			
<li>
            <h2>安卓版V1.20.0.15<span>2014-11-24</span><em></em></h2>
                <div class="detail">
                    <em></em>
                    <ul>
                                                <li>1、  优化秒装逻辑；</li>
                                                <li>2、  优化免费WIFI功能，连接免费wifi更加轻松；</li>
                                                <li>3、  解决用户反馈，优化性能及界面细节； </li>
                                        </ul>
                </div>
            </li>

<li>
            <h2>安卓版V3.1.80beta<span>2014-11-21 </span><em></em></h2>
                <div class="detail">
                    <em></em>
                    <ul>
                                                <li>1．优化“好友在玩”“附近的人在玩”功能</li>
                                                <li>2．管理界面改版，使用更简单</li>
                                                <li>3．解决用户反馈，优化性能及界面细节</li>
                                        </ul>
                </div>
            </li>

<li>
            <h2>安卓版V3.1.76beta<span>2014-11-17 </span><em></em></h2>
                <div class="detail">
                    <em></em>
                    <ul>
                                                <li>1、 身边界面优化，更好玩更直观</li>
                                                <li>2、 “好友都在玩”，邀请好友送大奖</li>
                                                <li>3、 视频增加VIP专区</li>
                                                <li>4、Android5.0适配</li>
                                        </ul>
                </div>
            </li>

<li>
            <h2>安卓版V1.20.0.10<span>2014-11-17</span><em></em></h2>
                <div class="detail">
                    <em></em>
                    <ul>
                                                <li>1、 优化小说频道，阅读更加方便；</li>
                                                <li>2、 优化秒装逻辑；</li>
                                                <li>3、 解决用户反馈，优化性能及界面细节； </li>
                                        </ul>
                </div>
            </li>

<li>
            <h2>安卓版V1.20.0.5<span>2014-11-13 </span><em></em></h2>
                <div class="detail">
                    <em></em>
                    <ul>
                                                <li>1. 优化秒装机制，提高使用体验；</li>
                                                <li>2. 解决用户反馈，优化性能及界面细节；</li>
                                                <li>3. 修复出现的bug；</li>
                                        </ul>
                </div>
            </li>

<li>
            <h2>安卓版V3.1.75beta<span>2014-11-13 </span><em></em></h2>
                <div class="detail">
                    <em></em>
                    <ul>
                                                <li>1、 身边界面优化，更好玩更直观</li>
                                                <li>2、 “好友都在玩”，邀请好友送大奖</li>
                                                <li>3、 视频增加VIP专区</li>
                                        </ul>
                </div>
            </li>

<li>
            <h2>安卓版V1.20.0.0<span>2014-11-10</span><em></em></h2>
                <div class="detail">
                    <em></em>
                    <ul>
                                                <li>1. 软件更新页优化；</li>
                                                <li>2. 解决用户反馈，优化性能及界面细节；</li>
                                                <li>&nbsp;</li>
                                        </ul>
                </div>
            </li>

<li>
            <h2>安卓版V3.1.71beta<span>2014-10-22 </span><em></em></h2>
                <div class="detail">
                    <em></em>
                    <ul>
                                                <li>1.    新鲜的、好玩的，就在“身边”</li>
                                                <li>2.     “面对面快传”优化</li>
                                                <li></li>
                                        </ul>
                </div>
            </li>



        </ol>
    </div>
</div>


<div class="footer">
    360.CN All Rights Reserved 360安全中心
</div>



</body>
</html>